@tailwind base;
@tailwind components;
@tailwind utilities;

/*@layer components {*/
/*    .accordion-header{*/
/*        @apply py-4 px-6 flex justify-between items-center cursor-pointer;*/
/*    }*/
/*    .accordion-body{*/
/*        @apply max-h-0 transition  duration-150 ease-in-out;*/
/*    }*/
/*}*/

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
  }
}
.body{
  font-family: 'Inter', sans-serif;
  font-weight: normal;
}

.box {
    width: 300px;
}

h1 {
    font-size: 20px;
    margin: 0 0 1rem 0;
}

.side-page{
  width: 50%;
  position:absolute;
  background: #fff;
  top:0;
  right: 0;
  bottom: 0;
  padding: 20px;
  transition: right 0.3s ease-in;
  z-index:1;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.side-page .closed{
     right: -50%;
    display: none;
 }
.side-page .open{
   right:0;
  display: block;
}

.circle-background {
  position: absolute;
  top: 140px;
  left: 84px;
  width: 220px;
  height: 220px;
  background-color: #6E6E6E;
  border-radius: 50%;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 90%);
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 90%);
 }

.pop {
  animation: popUp 0.1s ease-in-out;
}

.popDown {
  animation: popDown 0.3s ease-in-out;
}


@keyframes openSideModal {
  0% {
      right: -80%;
      display: none;

  }
  100% {
      right: 0;
  }
}
@keyframes closeSideModal {
  0% {
      right: 0;
  }
  100% {
      right: -80%;
      display: none;
  }
}

@keyframes popUp {
  0% {
      transform: scale(0);
  }
  100% {
      transform: scale(1);
  }
}

@keyframes popDown {
  0% {
      transform: scale(1);
  }
  100% {
      transform: scale(0);
  }
}



/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #F3F4F6;
    border: 1px solid #1F2937;
    border-radius: 20px
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;

}


input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }


.image-container {
  position: absolute;
  background-image: url('../images/background.png');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}


/*@media (max-width: 1400px) {*/
/*  body{*/
/*    background: red;*/
/*  }*/
/*}*/

@media (max-width: 1200px) {

  .lt-center{
    display: inline-block;
    z-index: -100;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
  }

  .list-alert{
    left: 10px;
  }

  .popup{top: 0;}

  .lottie-plant{
    display: none;
  }
  .side-page{
    width: 100%;
  }
}

@media (max-width: 992px) {
  .add-link{
    display: none;
  }

  .form{
    width: 100%;
  }
}

@media (max-width: 576px) {
  .lottie-plant-1,
  .lottie-plant-2{
    display: none;
  }
  .flex-hidden{
    display: none;
  }

  .center{
    /*right: 100px;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-100%, -130%);
  }

  .w-wv{
    position: absolute;
    top: 90px;
    width: 100vw;
    font-size: 14px;
    padding-inline: 20px;
  }

  .hidden-arrow{
    display: none;
  }

  .r-left{
    left: 12%;
    font-size: 28px;
  }

  .text-center-responsive{
    text-align: center;
    width: 100vw;
  }

  .padding-responsive{
    padding: 1rem
  }

  .r-top{
    top: 16%;
    padding: 0;
  }

  .w-wv-timeline{
    width: 80vw;
    text-align: start;
    margin: 10px auto;
  }

  .section-responsive{
    height: 50%;

  }

  .add-link{
    display: block;
  }

  .side-page{
    width: 100%;
  }
}